div {
    height: 45px;
    padding: 5px;
    display: inline-block;
}

a {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

div div a b {
    margin-right: 8px;
}

div ul {
    margin: 0;
}

div ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

div ul li a {
    font-size: 20px;
}

